html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  b,strong {
    font-weight: bolder;
  }
  code,kbd,samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
    width: 100%;
  }
  button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,input {
    overflow: visible;
  }
  button,select {
    text-transform: none;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }

  /* Site */

  body {
    font-family: 'Poppins';
    background-color: #F8F9FF;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  /* header */

  .header-inner {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-top: 38px;
  }

  .header-logo {
    width: 180px;
    height: 32px;
    margin-top: 35px;
  }

  .nav-link {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #009379;
    width: 200px;
    padding: 18px 50px 18px 50px;
    border-radius: 20px;
    background: transparent;
    margin-right: 20px;
    transition: all 0.5s;
  }

  .nav-link:hover {
    background: #E5F4F2;
  }

  .started-btn {
    width: 220px;
    background-color: #009379;
    border-radius: 20px;
    border: none;
    padding: 18px 50px 18px 50px;
    margin-top: 20px;
  }

  .btn-icon {
    width: 20px;
    height: 20px;
  }

  .btn-txt {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }

  /* intro */

  .intro {
    max-height: 100vh;
    margin-bottom: 160px;
  }

  .intro-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .intro-info {
    width: 50%;
  }

  .intro-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 67px;
    line-height: 130%;
    color: #2D2D2D;
    width: 650px;
    margin-top: 220px;
    margin-bottom: 20px;
  }

  .intro-txt {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    width: 650px;
    margin-bottom: 20px;
  }

  .how-it-work-btn {
    border: 1px solid #009379;
    padding: 16px 50px;
    border-radius: 20px;
    background: #FFFFFF;
    color: #009379;
    margin-left: 20px;
  }

  .work-btn-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .intro-img {
    width: 50%;
    background-image: url(../img/Visuals.png);
    background-repeat: no-repeat;
    background-size: 450px 450px;
    background-position: 100% 140%;
  }
  
  /* logo-bar */

  .logo-bar {
    margin-bottom: 160px;
  }

  hr {
    background-color: #D8D8D8;
    height: 1px;
    border: none;
  }

  .logo-bar-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo-bar-item {
    width: 90px;
    height: 25px;
    margin: 25px 0;
  }

  /* features */

  .features {
    margin-bottom: 160px;
  }

  .title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  .subtitle {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #2D2D2D;
  }

  .features-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .features-item {
    width: 310px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
    border-radius: 20px;
    padding: 40px 30px 40px 30px;
  }

  .fetures-item:not(:last-child) {
    margin-right: 30px;
    display: block;
  }

  .features-item-inner {
    width: 310px;
    margin: 0 auto;
  }

  .features-item-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
  }

  .fetures-item-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #2D2D2D;
    margin-bottom: 25px;
  }

  .features-item-txt {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #2D2D2D;
    margin-bottom: 30px;
  }

  .fetures-item-link {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #009379;
    text-align: center;
    display: block;
    text-decoration: none;
  }

  .arrow-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 8px;
  }


